<div style="font-family: Roboto, sans-serif; color:#535456;">
    <div style="text-align: center;">
        <img src="{{ logo_url }}" alt="Videoflix Logo" style="width:250.82px; height:40px; margin-bottom: 20px;" />
    </div>
    <p style="font-size: 16px;">Dear {{ username }},</p>
    <p style="font-size: 16px;">
        Thank you for registering with <a href="videoflix.martin-unger.at" style="text-decoration: none; color:#2e3edf">Videoflix</a>. To complete your registration and verify your email address, please click the link below:
    </p>
    <a href="{{ activation_link }}" style="background-color:#2e3edf;color:white;padding:12px 24px;text-decoration:none;border-radius:40px;display:inline-block;margin:20px 0;font-weight:bold;">
        Activate Account
    </a>
    <p style="font-size: 16px;">
        If you did not create an account with us, please disregard this email.
    </p>
    <p style="font-size: 16px;">Best regards,<br>Your Videoflix Team.</p>
</div>
