<div style="font-family: Roboto, sans-serif; color:#535456;">
    <div style="text-align: center;">
        <img src="{{ logo_url }}" alt="Videoflix Logo" style="width:250.82px; height:40px; margin-bottom: 20px;" />
    </div>
    <p>Hello,</p>
    <p>We recently received a request to reset your password. If you made this request, please click on the following link to reset your password:</p>
    <a href="{{ reset_link }}" style="background-color:#2e3edf;color:white;padding:12px 24px;text-decoration:none;border-radius:40px;display:inline-block;margin:20px 0;font-weight:bold;">
        Reset Password
    </a>
    <p>Please note that for security reasons, this link is only valid for 24 hours.</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Best regards,</p>
    <p>Your Videoflix team!</p>
</div>